__pycache__
CRNN_ckpt
/CRNN/CRNN_epoch_test_loss.npy
/CRNN/CRNN_epoch_test_score.npy
/CRNN/CRNN_epoch_training_losses.npy
/CRNN/CRNN_epoch_training_scores.npy
/ResNetCRNN/CRNN_epoch_test_loss.npy
/ResNetCRNN/CRNN_epoch_test_score.npy
/ResNetCRNN/CRNN_epoch_training_losses.npy
/ResNetCRNN/CRNN_epoch_training_scores.npy
/ResNetCRNN/ResNetCRNN_ckpt
/ResNetCRNN/CRNN_epoch_test_loss50.npy
/ResNetCRNN/CRNN_epoch_test_score50.npy
/ResNetCRNN/CRNN_epoch_training_losses50.npy
/ResNetCRNN/CRNN_epoch_training_scores50.npy
/ResNetCRNN/fig_UCF101_CRNN50.png
